.cart-wrapper {
    display  : flex;
    flex-flow: wrap;

    .product-details {
        flex        : 0 0 72%;
        margin-right: 1.5rem;
        box-shadow  : 0 3px 16px 0 rgba(0, 0, 0, .11);

        @media (max-width:768px) {
            flex: 0 0 100%;

        }

        .product-in-cart {
            display: flex;
            padding: 1rem;

            &:not(:last-child) {
                border-bottom: 1px solid lightgrey;
            }
        }

        .cart-header {
            font-weight  : bold;
            padding      : 1rem;
            border-bottom: 1px solid lightgrey;
        }

        .item-image {
            width : 180px;
            height: 150px;
        }

        .txtQuantity {
            width           : 30px;
            background-color: #fff;
            border          : 1px solid #c2c2c2;
            margin          : 0 5px;
            padding         : 4px;
            text-align      : center;
        }

        .text-center {
            text-align: center;
        }

        .total-amount {
            display        : flex;
            flex-direction : column;
            justify-content: space-evenly;
        }

        .btnRemove {
            background   : #fbe5c9;
            border       : 1.5px solid red;
            border-radius: 5px;
            line-height  : 2rem;
            font-weight  : bold;
        }

        .btn-decrement,
        .btn-increment {
            width        : 30px;
            height       : 30px;
            background   : linear-gradient(#fff, #f9f9f9);
            display      : inline-block;
            border       : 1px solid #c2c2c2;
            font-size    : 16px;
            border-radius: 50%;
            padding-top  : 1px;
            line-height  : 1;

            &:disabled {
                color       : #c2c2c2;
                border-color: #e0e0e0;
            }

            &:focus {
                outline: none;
            }
        }

    }

    .price-details {
        flex           : 0 0 25%;
        box-shadow     : 0 3px 16px 0 rgba(0, 0, 0, .11);
        display        : flex;
        justify-content: center;
        align-items    : center;

        @media (max-width:768px) {
            flex   : 0 0 100%;
            padding: 1rem;
        }
    }
}